<div class="container-fluid nopadding">
  <div class="row nav">
    <div class="col-md-2 col-sm-2 col-xs-12 logo-container">
      <img class = 'logo-home' src="../../../assets/white-logo.svg" alt="Logo" width = '130px'/>
    </div>
    <div class="col-md-5 col-sm-5 col-xs-12 search-container">
      <div class="search container-fluid nopadding">
        <div class="row">
          <form>
              <div class="col-xs-6 food-container nopadding">
                <input class = 'search-input food' type="text" placeholder = '“BBQ, Tacos, Pizza”'>
              </div>
              <div class="col-xs-4 food-container nopadding">
                <input class = 'search-input zip' type="text" placeholder = 'Zip Code'>
              </div>
            <div class="col-xs-2 nopadding text-right">
              <img class = 'search-button' src="../../../assets/search-button.svg" alt="" height = '47px'>
            </div>
          </form>
        </div>
      </div>
    </div>
    <div class="col-md-5 col-sm-5 col-xs-12"></div>
  </div>
</div>
