<div class="container-fluid nopadding">
  <div class="row">
    <div class="col-xs-12 nopadding">
      <div class="container-fluid">
        <div class="row">
          <div class="col-md-4 col-xs-12 col-sm-3"></div>
          <div class="col-md-4 col-xs-12 col-sm-6 auth-outer">
            <h3 class = 'text-center auth-title'>Log in</h3>
            <div class="auth-container text-center">
              <img class = 'logo-login' src = '../../../assets/logo.svg' width = '130px'/>
              <form [formGroup]="authForm" (ngSubmit)="loginAuth()" >
                <input [ngClass]="{'invalid-inputs': (authForm.controls.email.errors && authForm.controls.email.touched) || invalidEmail && !authForm.controls.email.touched}" formControlName="email" class = 'auth-input' type="text" placeholder = 'Email Address' required>
                <input [ngClass]="{'invalid-inputs': (authForm.controls.password.errors && authForm.controls.password.touched) || invalidPassword && !authForm.controls.password.touched}" formControlName="password" class = 'auth-input' type="password" placeholder = 'Password' required>
                <input class = 'auth-submit' type="submit" value = 'Sign In'>
                <p class = 'alert-login text-center' *ngIf="this.credentials === true">Incorrect credentials. Please try again.</p>
              </form>
              <p class = 'text-right forgot'><a routerLink="reset-password">Forgot Password</a></p>
            </div>
            <p class = 'auth-switch text-center'>Don't have an account? <a routerLink="/register" class = 'switch-link'>Sign up here.</a></p>
          </div>
          <div class="col-md-4 col-xs-12 col-sm-3"></div>
        </div>
      </div>
    </div>
  </div>
</div>
